<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>شركة طيف</title>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>
<body>

    <!-- content -->
    <div class="content">
        
        <div class="container">
            <div class="d-flex justify-content-center p-4">
                <div class=" align-items-center">
                    <div class="my-5 text-center">
                        <span><img src="../../assets/image/Group 361.png" width="100%"></span>
                    </div>
                    <p class="font-weight-bold text-center">قيد التحديث عاود الزيارة لاحقاَ</p>
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- /content -->

    <!-- scipt -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='../../assets/js/bootstrap.min.js'></script>
    <script src="../../assets/js/script.js"></script>
    <!-- /script -->
</body>
</html>