<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة تعريفية</title>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a href="../index.html" class="navbar-brand">
                <img src="../../assets/image/شعار شركة طيف-01.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item active">
                        <a href="../index.html" class="nav-link active text-primary">الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a href="../content/about_us.html" class="nav-link">تعرف علينا</a>
                    </li>
                    <li class="nav-item">
                        <a href="../content/our_solutions.html" class="nav-link">حلولنا</a>
                    </li>
                    <li class="nav-item">
                        <a href="../content/our_partners.html" class="nav-link">شركائنا</a>
                    </li>
                    <li class="nav-item">
                        <a href="../content/blog.html" class="nav-link">المدونة</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarHR" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الموارد البشرية
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarHR">
                            <a class="dropdown-item" href="../hr/recruitment.html"  > التوظيف</a>
                            <a class="dropdown-item" href="../hr/job_training.html" >  التدريب الوظيفي</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="../content/contact_us.html" class="nav-link">اتصل بنا</a>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle btn btn-primary rounded-pill text-white shadow-sm px-3" id="navbarLogin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            تسجيل الدخول
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarLogin">
                            <a class="dropdown-item" href="../content/soon.html"  > شخصي</a>
                            <a class="dropdown-item" href="../content/soon.html" > أعمال</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /header -->

    <!-- content -->
    <div class="Content">
        <div class="container">
            <nav aria-label="breadcrumb">
                <h5 class="text-primary text-center  mt-5">صفحة تعريفية</h5>
                <ol class="breadcrumb bg-transparent  justify-content-center">
                  <li class="breadcrumb-item"><a href="../index.html"><i class="fas fa-home"></i> الرئيسية </a></li>
                  <li class="breadcrumb-item"><a href="../content/pages.html">صفحة تعريفية</a></li>
                </ol>
            </nav>
            <img src="../../assets/image/blog/Mask Group 25.png"width='100%' class="img-fluid">
            
            <div class="page-content-body my-5">
                <h1 class="mb-5">عنوان رئيسى</h1>
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                <p>ذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
            </div>

        </div>
    </div>
    
    <!-- /content -->

    <!-- footer -->
    <footer class="bg-light mt-5">
        <div class=" p-md-5 p-sm-2">

            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-12 py-md-0 py-3">
                        <img src="../../assets/image/شعار شركة طيف-01.png" alt="logo" >
                        <p class="mt-4 ml-md-5 pl-md-5">طيف هى شركة سعودية ذات مسؤولية محدودة تأسست في الأول من أكتوبر 2019 لها نشاطات متعددة مثل التسويق عبر دراسات السوق وإدارة العلامات التجارية وتقنية المعلومات ببناء أنظمة للتحول الرقمي للمساهمة في تحول القطاع الخاص رقميا </p>
                    </div>
                    <div class="col-md-4 col-6 pr-md-5 ">
                        <h5 class="text-primary my-4 py-1 px-4">روابط مهمة</h5>
                        <ul class="px-5">
                            <li class="mb-3"><a class="text-dark" href="../content/about_us.html">نبذة عنا</a></li>
                            <li class="mb-3"><a class="text-dark" href="../content/our_solutions.html">حلولنا</a></li>
                            <li class="mb-3"><a class="text-dark" href="../content/faq.html">الأسئلة الشائعة</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <h5 class="text-primary my-4 py-1">تواصل معنا</h5>
                        <ul class="px-0 list-unstyled">
                            <li class="mb-3 h6"><p class="mb-4"><i class="fas fa-phone"></i><span class="px-2">0543100348</span></p></li>
                            <li class="mb-3 h6"><p class="mb-4"><i class="fas fa-envelope"></i><span class="px-2">info@tif.sa</span></p></li>
                            <li class="mb-3 h5">
                                <a class="text-dark" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="text-dark px-2" href=""><i class="fab fa-instagram"></i></a>
                                <a class="text-dark" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="text-dark px-2" href=""><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center text-primary mt-4 mb-0">شركة طيف 2020  © جميع الحقوق محفوظة</p>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- /footer -->

    <!-- scipt -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='../../assets/js/bootstrap.min.js'></script>
    <script src="../../assets/js/script.js"></script>
    <!-- /script -->
</body>
</html>